{% extends "index.html" %}
{%block header %}
   <h1>OoT Bingo Tournament 2020 - Player Statistics</h1>
   <br>
   <a href='/'>Go to Goal Statistics</a>
   <br>
   
{%endblock %}
{% block tablecontent %}
<table id="myTable" class="table table-striped" data-order='[[1, "desc"], [3, "asc"]]' data-page-length='250'>
  <script>
  $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script>
<thead>
 <tr>
  <th>Player</th>
  <th>Wins</th>
  <th>Losses</th>
  <th>Average</th>
  <th>Median</th>
 </tr> 
</thead>
<tbody>
{% for player in players %}
 <tr>
  <td>{{ player[0] }}</td>
  <td>{{ player[1] }}</td>
  <td>{{ player[2] }}</td>
  <td>{{ player[3] }}</td>
  <td>{{ player[4] }}</td>
 </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
