<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="icon" href="/templates/hammer.ico">
  <title>OoT Bingo Tournament 2020 - Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
  $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script>
 </head>
 <body>
   <h1>OoT Bingo Tournament 2020 - Goal Statistics</h1>
   <h2>Total races: {{ total_races }}</h2>
   <div>
     <div id="goals">
       <table id="myTable" class="table table-striped" data-order='[[1, "desc"]]' data-page-length='250'>
        <thead>
         <tr>
          <th>Goal</th>
          <th>Picked</th>
          <th>On Boards</th>
          <th>Wins</th>
          <th>Pick Rate</th>
          <th>Win Rate</th>
         </tr> 
        </thead>
      <tbody>
        {% for goal in goals %}
         <tr>
          <td>{{ goal[0] }}</td>
          <td>{{ goal[2] }}</td>
          <td>{{ goal[1] }}</td>
          <td>{{ goal[3] }}</td>
          <td>{{ "%.1f %%" % goal[4]}}</td>
          <td>{{ "%.1f %%" % goal[5]}}</td>
         </tr>
        {% endfor %}
      </tbody>
       </table>
   </div>
  
  
 </body>
</html>
